.chart {
  position: relative;
}

.header {
  padding: 30px;
  font-size: 20px;
}

.score {
  position: fixed;
  margin-top: 140px;
  padding: 30px;
  top: 0;
  right: 30px;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: black;
}

.candidate {
  color: white;
  padding: 20px;
  position: fixed;
  right: 30px;
  top: 10px;
  display: flex;
  align-items: center;
}

.scoregrade {
  font-size: 20px;
  margin-bottom: 10px;
}

.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  height: 100px;
  width: 100%;
  border-radius: 12px;
  margin: 30px 30px 30px 0px;
}

.button {
  width: 100%;
  height: 40px;
  border-radius: 30px;
  border: none;
  background-color: #ff5454;
  color: white;
  cursor: pointer;
  outline: inherit;
}

.chartbuttons {
  margin: 30px;
  display: flex;
  justify-content: center; /* Center the chart horizontally */
  align-items: center;
}

.buttonchart {
  width: 100px;
  border-radius: 30px;
  border: none;
  background-color: #ff5454;
  color: white;
  cursor: pointer;
  outline: inherit;
  margin: 20px;
}

.candidatebox {
  padding: 2px;
  border-radius: 12px;
  margin: 0px 0px 0px 20px;
}

.scoringbox {
  background-color: black;
}

.chartwrapper {
  margin-top: 60px;
  width: 80%;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
